.product {
    width: 48%;
    display: inline-block;
    padding: 15px;
    margin: 1%;
    background-color: white;
    border: 3px solid #84a88a;
    border-radius: 10px;
    text-align: center;
}

img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}

.productDescription {
    width: 90%;
    height: max-content;
    margin: auto;
} 

.productPrice {
    display: inline-block;
}

button {
    border: none;
    cursor: pointer;
    background-color: white;
}

button i {
    color: #84a88a;
    background-color: white;
}

@keyframes buy {
    0% {color: #84a88a; transform: rotate(-10deg);}
    33% {color: #67db9d; transform: rotate(-5deg);}
    66% {color: #58f4b6; transform: rotate(+5deg);}
    100% {color: #84a88a; transform: rotate(+10deg);}
}

button i:hover {
    color: #84a88a;
    animation-name: buy;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@media (max-width: 650px) {
    .product {
        width: 98%;
    }
}

@media (min-width: 1200px) {
    .product {
        width: 31.3%;
    }
}
