div {
    width: 80%;
    margin: 15px auto;
    padding: 0 20px;
    border: 3px solid green;
    border-radius: 5px;
    cursor: pointer;
}

h3 {
    font-family: 'Baloo Bhaina', cursive;
    color: #479962;
}

@media (min-width: 800px) {
    div {
        width: 40%;
        margin: 15px 5%;
        display: inline-block;
        text-align: center;
    }
}